@model IEnumerable<TimeOff.Models.Filme>

@{
    ViewBag.Title = "Index";
}
@*Vai buscar o css*@
@section Styles {

    @Styles.Render("~/Content/TimeOff.css")
}
<style>

    body {
        background-color: beige;
    }
</style>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table></table>

<div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    @foreach (var item in Model)
    {
    <div style="width: 24%; height: 413px; overflow-y:hidden; margin-top: 5px;margin-bottom: 5px; min-width: 250px;">
        <div class="texto">
            <h2>
                @Html.ActionLink(item.Titulo, "Details", "filmes", new { id = item.Id }, null)
            </h2>
        </div>
        <img src="~/Imagens/@item.ImagensFilme" style="width: 100%; min-height: 100%; height: auto; margin-top:-65px;" />

    </div>
    }
</div>
