@model TimeOff.Models.Filme

@{
    ViewBag.Title = "Sobre";
}

@*Vai buscar o css*@
@section Styles {

    @Styles.Render("~/Content/TimeOff.css")
}
<style>

    body {
        background-color: beige;
    }
</style>
@*Informações sobre Mim*@
<h2>Sobre</h2>

<div id="main">
    @*Minha Fotografia*@
    <div style="border:solid;border-color:black;">

        <img src="~/imagemMinha/IMG_4057.JPG" width="320" height="412" />
    </div>
<div>
    @*Nome da Disciplina *@
    <div class="nome">Tecnologia da Internet II</div>
    @*Escola*@
    <div style="margin-left: 150px;">
        <h2 style="font-family:Arial; font-weight:bold; color:black;">Engenharia Informática</h2>
    </div>
    @*Ano lectivo*@
    <div style="margin-left: 150px;">
        <h3 style="font-family:Arial; font-weight:bold; color:black;">2017/2018</h3>
    </div>
    @*Nome*@
    <div style="margin-left: 150px;">
        <h3 style="font-family:Arial; font-weight:bold; color:black;">Rafael Gonçalves Nº19443</h3>
    </div>


</div>
</div>

@*Dados Relevantes*@
<div class="sinopse">
    <h3 style="font-family:Arial; font-weight:bold; color:darkred"> Dados Relevantes</h3>

</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

