
.logo {
    width: 100%;
    color: white;
    background-color: #000000;
    text-align: center;
    font-family: Arial;
    font-size: 100px;
    text-decoration: none;
}
.logo:hover,
.logo:focus {
    text-decoration: none;
}
.texto {
    font-family: Arial;
    text-align: center;
    color: #000000;
    position: relative;
    top: -160px;
    padding: 1px;
    opacity: 0.8;
    background-color: #FFFFFF;
    text-decoration: none;
}
.nome {
    font-family: Arial;
    text-align: left;
    color: darkred;
    font-size: 50px;
    font-weight: bold;
    margin-top: -130px;
    margin-left: 150px;
}
.sinopse {
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    text-align:justify;
}
#main {
    margin-top:40px;
    display: -webkit-flex;
    -webkit-align-items: center; 
    display: flex;
    align-items: center;
}
.realizador {
    font-family: Arial;
    font-weight: bold;
    color: black;
    text-decoration: none;
}